{% extends 'layout.html' %}

{% block content %}

{% load static %}

<center>
    <h1>Gastronomía platos típicos de NARIÑO </h1>
</center>

<center> 
<div class="art-postcontent clearfix"><div class="art-article">
    <p></p>
    <h2 style="text-align: center;">El abc de la gastronomía Nariñense</h2>
    <p><em>El volcán Galeras, la laguna de la Cocha y el santuario de las Lajas, son lugares de Nariño que justifican la visita a este departamento, pero más la comida típica.</em></p>
    <p>Como los distintos climas y regiones, es de variada la comida de la región. Y como el acento de los pastusos, única: la mayoría de viandas son preparadas con productos típicos de la región: el cuy, el ulluco, el pusandao y el locro, entre otros.</p>
    <p>&ZeroWidthSpace;Entre las sopas de auténtica tradición indígena están: el locro, pariente del ajiaco bogotano pero con condimentos y preparación propia; la chuspa, (trozos de harina) también conocida con el nombre de arrancadas; el chuya, aperitivo sin igual que en realidad es una mazamorra, pero no lleva dulce sino por el contrario sal. También está la ñuta y el mote.</p>
    <p>&nbsp;</p>
    <h2 style="text-align: center;">Cuy asado</h2>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'portfolio/cuy_Copy.jpg' %}" alt="cuy Copy"></p>
    <p>&nbsp;</p>
    <p>&ZeroWidthSpace;En Nariño son famosos los corregimientos de Catambuco (Pasto), Pinzón (Túquerres), y El Charco (Ipiales) por la preparación del cuy asado.</p>
    <p>&ZeroWidthSpace;Su preparación, entre brasas y carbones, es el resultado de un cuidadoso proceso de cría, vigilancia en su desarrollo, sacrificio y hasta presentación en la bandeja.</p>
    <p>&ZeroWidthSpace;La mirada centinela de matronas campesinas no le pierde detalle en el asado a fuego lento y los típicos condimentos constituyen su secreto.</p>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'portfolio/cuy_las_lajas_ipiales.jpg' %}" alt="cuy las lajas ipiales" width="710" height="335"></p>
    <p>&ZeroWidthSpace;Bien preparado y decorado, es el más apetitoso manjar autóctono a quien los enguayabados le rinden veneración. Por las propiedades afrodisíacas que le endilgan d</p>
    <p>ebido a su alto poder nutritivo, al pequeño herbívoro se le aplica la famosa frase de que “la antorcha del amor se enciende en la cocina”. Sin necesidad de viagra.</p>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'portfolio/hornado_Copy.jpg' %}" alt="hornado Copy" width="471" height="241"></p>
    <p>&ZeroWidthSpace;En la mesa, el cuy les declara la guerra a todas las reglas de la etiqueta. Degustarlo con tenedor o cualquier otro cubierto es un sacrilegio. Hay que despostarlo con las manos y comerlo sin complicación.</p>
    <p>&nbsp;</p>
    <h2 style="text-align: center;">Otros platos</h2>
    <p>&ZeroWidthSpace;También están las inigualables ensaladas a punta de ullucos y arracachas.</p>
    <p>&ZeroWidthSpace;Panecillos bautizados con el nombre de: panuchas, alfajores, dulce grueso, polvorones, pirulíes, merengues, cocadas y sorbetes figuran en la extensa lista de golosinas preparadas por las mujeres nariñenses cuya única instrucción se da en casa.</p>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'portfolio/fritada_las_lajas_nariño.jpg' %}" alt="fritada las lajas nariño" width="482" height="188"></p>
    <p>&ZeroWidthSpace;Medias nueves y entredías se acompañan con suculenta fritada acompañada de choclos, patacones, moles y masatos.</p>
    <p>&ZeroWidthSpace;Las tres modalidades de envueltos de yuca, choclo y cojongo constituyen el aderezo de almuerzos y meriendas.</p>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'portfolio/helado_de_paila_las_lajas.jpg' %}" alt="helado de paila las lajas" width="585" height="329"></p>
    <p>&ZeroWidthSpace;Cualquier plato puede ser acompañado con un delicioso helado de paila, cuya preparación se ha convertido en pequeñas empresas familiares, aliviando el desempleo.</p>
    <p>&ZeroWidthSpace;Para quienes gustan del tinto después de la comida, está el tinto con punta que termina haciendo de las suyas gracias a la maravillosa mezcla del grano y aguardiente que al calor de tertulias causa el mismo efecto cogelón de hervidos y canelazos aconsejados para disipar penas y despechos.</p>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'portfolio/pan_de_maiz_las_lajas.jpg' %}" alt="pan de maiz las lajas" width="531" height="353"></p>
    <p>El delicioso cafe con pan de maíz, perfecto para el desayuno.</p>
    <p>&ZeroWidthSpace;Entre los manjares más apetecidos se disputan la demanda diaria los postres: de chilacuán, de calabaza y dulce de brevas.</p>
    <p>&ZeroWidthSpace;Otra opción es la comida del litoral, entre ellos el pusandao y plu con pla . En los paseos familiares o fiesta estos platos son parte indispensable.</p>
    <p>&ZeroWidthSpace;El pusandao tiene su secreto en la carne serrana que le da un sabor especial. Previamente se aliña con sal de nitro en la serranía nariñense y luego se lleva a la costa. Se sirve acompañada de plátano verde, papas enteras sin pelar, huevos duros, aliños y gallina.</p>
    <p>&ZeroWidthSpace;El plu con pla, consiste en un tapao de plumada, plátano y sal que se come con frecuencia en los hogares de escasos recursos económicos.</p>
    <p>&ZeroWidthSpace;El tapao consiste en colocar una olla con agua, unos cuantos plátanos verdes y sobre éstos la plumada, un pez de unos 20 centímetros parecido a la carduma y que se pesca a pocas millas del mar. Por el olor delicioso es fácil descubrir en qué casa se prepara la plumada o plu con pla.</p>
    <p style="text-align: center;"><img src="{% static 'portfolio/encocado_tumaco_las_lajas.jpg' %}" alt="encocado tumaco las lajas" width="544" height="408">&ZeroWidthSpace;</p>
    <p>También está el encocado: pescados y mariscos aderezados con coco. En la cocina criolla son infaltables: el ceviche de camarón, el pescado o mariscos marinados en limón, aceite y especias. También se preparan de manera deliciosa la langosta, los langostinos y las jaibas.</p>
    <p>&ZeroWidthSpace;Muchos son los crustáceos, moluscos y reptiles con que cuenta la alimentación del litoral nariñense y sus nombres muy particulares: ostión, la concha prieta, la chiripiangua, pata de burro, lambe plato, piacuil, tasquero y chautiza.</p>
    <p>&ZeroWidthSpace;</p>
    <p><strong>Fuente: El Tiempo</strong></p></div></div>
</center>






{% for post in posts %}

<div class="py-3">

  <div class="card card-body bg-black">
    <div class="row">

      <div class="col-3">
        <img class="img-fluid" src="{{post.image.url}}" alt="{{post.title}}">

      </div>
      <div class="col-9">

        <h1>{{post.title}}</h1>
        <p>{{post.description|striptags|truncatechars:100}}</p>
        <p>{{post.date|date:'M d Y'|upper}}</p>

        <a href="{% url 'blog:post_detail' post.id %}">{{post.title}}</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}