{% extends 'layout.html' %}

{% block content %}

{% load static %}

<center>
    <h1>Fiestas patronales de NARIÑO </h1>
</center>
<br>
<br>
<center>
  <h2>Fiesta de la virgen de las lajas 2020 </h2>
</center>

<center>
  <div>
    <iframe width="1260" height="615" src="https://www.youtube.com/embed/8orF6cwujsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</center>

<br>
<br>
<center>
  <h2>Fiestas Patronales Virgen del Carmen 2021 - Cumbal, del 7 al 16 de Julio</h2>
</center>

<center>
    <div>
      <iframe width="1260" height="615" src="https://www.youtube.com/embed/01NemPBUmNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</center>


<center> 
<div class="art-postcontent clearfix"><div class="art-article">

    <table border="1" style="margin-left: auto; margin-right: auto; border: 1px solid #808080;" cellspacing="0" cellpadding="5" align="center">
        <thead>
        <tr style="height: 30px; background-color: #003e7f;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;&nbsp; </span></strong><strong><span style="color: #ffffff; font-size: 10pt;">ENERO</span></strong></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #003e7f;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">2, 3, 4, 5, 6</span></td>
        <td align="center"><span style="color: #000000;">Carnaval de Negros y Blancos</span></td>
        <td align="center"><span style="color: #000000;">Pasto</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">3, 4, 5, 6</span></td>
        <td align="center"><span style="color: #000000;">Carnaval Multicolor de la Frontera</span></td>
        <td align="center"><span style="color: #000000;">Ipiales</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">3</span></td>
        <td align="center"><span style="color: #000000;">Encuentro de Música Andina<br>Carnaval de Negros y Blancos</span></td>
        <td align="center"><span style="color: #000000;">Túquerres</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">2 y 3<br></span></td>
        <td align="center"><span style="color: #000000;">Festival de la Canción <br>"Voz del Curiquingue"</span></td>
        <td align="center"><span style="color: #000000;">Taminango</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">6</span></td>
        <td align="center"><span style="color: #000000;">Fiesta del Señor de Payan</span></td>
        <td align="center"><span style="color: #000000;">Barbacoas</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">7<br></span></td>
        <td align="center"><span style="color: #000000;">Carnaval de los Rojos</span></td>
        <td align="center"><span style="color: #000000;">Buesaco</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">28 al 31</span></td>
        <td align="center"><span style="color: #000000;">Festival de la Canción<br>"Voz del Curiquingue</span></td>
        <td align="center"><span style="color: #000000;">Tambo</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Último Sábado del mes<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta del Señor de Los Milagros<br>Desfile Histórico</span></td>
        <td align="center"><span style="color: #000000;">Gualmatán</span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #00b72e;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;&nbsp; </span></strong><strong><span style="color: #ffffff; font-size: 10pt;">FEBRERO</span></strong></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #00b72e;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">8, 9, 10, 11, 12<br></span></td>
        <td align="center"><span style="color: #000000;">Carnavales Cuencos de Ríos<br></span></td>
        <td align="center"><span style="color: #000000;">&nbsp;Roberto Payán <br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">28</span></td>
        <td align="center"><span style="color: #000000;">Carnaval del Fuego y la Afrocolombianidad<br></span></td>
        <td align="center"><span style="color: #000000;">Barbacoas</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Semana previa a iniciar cuaresma de Semana Santa</span></td>
        <td align="center"><span style="color: #000000;">Carnaval del Fuego</span></td>
        <td align="center"><span style="color: #000000;">Tumaco</span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #00afe8;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;&nbsp; </span></strong><strong><span style="color: #ffffff; font-size: 10pt;">MARZO</span></strong></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #00afe8;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;"><span style="color: #000000;">Semana previa a iniciar cuaresma de Semana Santa</span></span></td>
        <td align="center"><span style="color: #000000;"><span style="color: #000000;">Carnaval del Fuego</span></span></td>
        <td align="center"><span style="color: #000000;">Tumaco</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Martes Santo</span></td>
        <td align="center"><span style="color: #000000;">Serenata al Señor de los Milagros</span></td>
        <td align="center"><span style="color: #000000;">Tuquerres</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Semana Santa</span></td>
        <td align="center"><span style="color: #000000;">Semana Mayor</span></td>
        <td align="center"><span style="color: #000000;">Pasto</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Semana Santa</span></td>
        <td align="center"><span style="color: #000000;">Semana Mayor</span></td>
        <td align="center"><span style="color: #000000;">La Unión<br></span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #ff9500;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;&nbsp; </span></strong><strong><span style="color: #ffffff; font-size: 10pt;">ABRIL</span></strong></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #ff9500;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;"><span style="color: #000000;">Semana previa a iniciar cuaresma de Semana Santa</span></span></td>
        <td align="center"><span style="color: #000000;"><span style="color: #000000;">Carnaval del Fuego</span></span></td>
        <td align="center"><span style="color: #000000;">Tumaco</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Martes Santo</span></td>
        <td align="center"><span style="color: #000000;">Serenata al Señor de los Milagros</span></td>
        <td align="center"><span style="color: #000000;">Tuquerres</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Semana Santa</span></td>
        <td align="center"><span style="color: #000000;">Semana Mayor</span></td>
        <td align="center"><span style="color: #000000;">Pasto</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Semana Santa</span></td>
        <td align="center"><span style="color: #000000;">Semana Mayor</span></td>
        <td align="center"><span style="color: #000000;">La Unión<br></span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #ff5a05;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;&nbsp; </span></strong><strong><span style="color: #ffffff; font-size: 10pt;">MAYO</span></strong></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #ff5a05;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #3e53c1;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;&nbsp; JUNIO</span></strong><strong><span style="color: #ffffff; font-size: 10pt;"><br></span></strong></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #3e53c1;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">20</span></td>
        <td align="center"><span style="color: #000000;">Inti Raimy</span></td>
        <td align="center"><span style="color: #000000;">Cabildos Indígenas Pueblos de los Pastos<br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">24, 25, 26, 27, 28, 29<br></span></td>
        <td align="center"><span style="color: #000000;">Fiestas en Honor al Apostol San Pedro<br></span></td>
        <td align="center"><span style="color: #000000;">Funes</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">28 y 29<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta de San Pedro y San Pablo</span></td>
        <td align="center"><span style="color: #000000;">Cumbal</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">13 al 30<br></span></td>
        <td align="center"><span style="color: #000000;">Onomástico Municipal</span></td>
        <td align="center"><span style="color: #000000;">Pasto</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">28 y 29<br></span></td>
        <td align="center"><span style="color: #000000;">San Pedro, San Pablo y las Guaguas de Pan<br></span></td>
        <td align="center"><span style="color: #000000;">Corregimientos de Jongovito y Obonuco - Pasto<br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Final de Mes<br></span></td>
        <td align="center"><span style="color: #000000;">Fetival del Maíz<br></span></td>
        <td align="center"><span style="color: #000000;">Santacruz</span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #00ac9e;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;JULIO</span></strong><span style="color: #ffffff; font-size: 10pt;"></span></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #00ac9e;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">1, 2 y 3</span></td>
        <td align="center"><span style="color: #000000;">Nuestra Señora de la Visitación, Encuentro de Danzas</span></td>
        <td align="center"><span style="color: #000000;">Ancuya</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">13</span></td>
        <td align="center"><span style="color: #000000;">Fiestas de Nuestra Señora del Carmen<br></span></td>
        <td align="center"><span style="color: #000000;">La Cruz<br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">15</span></td>
        <td align="center"><span style="color: #000000;">Fiestas de la Virgen del Carmen</span></td>
        <td align="center"><span style="color: #000000;">Cumbal</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Mediados del Mes<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta del Maíz</span></td>
        <td align="center"><span style="color: #000000;">Vereda Villa Moreno - Buesaco<br></span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #c91c96;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;&nbsp; </span></strong><strong><span style="color: #ffffff; font-size: 10pt;">AGOSTO</span></strong></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #c91c96;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Primer Festivo<br></span></td>
        <td align="center"><span style="color: #000000;">Concurso Departamental de Bandas Musicales<br></span></td>
        <td align="center"><span style="color: #000000;">Samaniego</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">6 al 15<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta de la Virgen de Achota<br></span></td>
        <td align="center"><span style="color: #000000;">Barbacoas</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">9 al 15<br></span></td>
        <td align="center"><span style="color: #000000;">Festividades de la Virgen del Tránsito</span></td>
        <td align="center"><span style="color: #000000;">Consacá</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">15<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta de la Virgen de la Playa<br></span></td>
        <td align="center"><span style="color: #000000;">San Pablo<br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">18 y 19<br></span></td>
        <td align="center"><span style="color: #000000;">Encuentro Internacional de música y danzas folclóricas, Aniversario de Fundación<br></span></td>
        <td align="center"><span style="color: #000000;">Yacuanquer</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Segundo Puente<br></span></td>
        <td align="center"><span style="color: #000000;">Festival y Reinado Internacional del Currulao<br></span></td>
        <td align="center"><span style="color: #000000;">Tumaco</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">15</span></td>
        <td align="center"><span style="color: #000000;">Fiesta de la Virgen del Tránsito</span></td>
        <td align="center"><span style="color: #000000;">Sandoná</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">25 al 30<br></span></td>
        <td align="center"><span style="color: #000000;">Festival de la Cultura y el Turismo</span></td>
        <td align="center"><span style="color: #000000;">Chachagui</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center">29</td>
        <td align="center">Concurso Departamental de Danza y Folclor</td>
        <td align="center">Providencia</td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #ac622c;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;&nbsp; </span></strong><strong><span style="color: #ffffff; font-size: 10pt;">SEPTIEMBRE</span></strong></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #ac622c;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">1 al 15<br></span></td>
        <td align="center"><span style="color: #000000;">Festival Internacional de Teatro<br></span></td>
        <td align="center"><span style="color: #000000;">Pasto</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">10</span></td>
        <td align="center"><span style="color: #000000;">Fiestas de San Nicolás de Tolentino<br></span></td>
        <td align="center"><span style="color: #000000;">Guaitarilla</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">16</span></td>
        <td align="center"><span style="color: #000000;">Fiestas de Nuestra Señora del Rosario de Las Lajas</span></td>
        <td align="center"><span style="color: #000000;">Ipiales</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">29<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta de San Miguel Arcángel</span></td>
        <td align="center"><span style="color: #000000;">Arboleda - Berruecos<br></span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #ff055c;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">OCTUBRE</span></strong><span style="color: #ffffff; font-size: 10pt;"></span></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #ff055c;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">3 y 4<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta de San Francisco de Asis<br></span></td>
        <td align="center"><span style="color: #000000;">Nariño</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Primera Semana<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta de Nuestra Señora del Rosario<br></span></td>
        <td align="center"><span style="color: #000000;">La Unión<br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">7</span></td>
        <td align="center"><span style="color: #000000;">Fiesta de Nuestra SEñora del Rosario de Iles</span></td>
        <td align="center"><span style="color: #000000;">Iles</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">10 al 12<br></span></td>
        <td align="center"><span style="color: #000000;">Festival Internacional de Cine</span></td>
        <td align="center"><span style="color: #000000;">Pasto</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">12</span></td>
        <td align="center"><span style="color: #000000;">Fiesta de la Virgen de la Cueva<br></span></td>
        <td align="center"><span style="color: #000000;">Tablón de Gómez<br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">19 y 20<br></span></td>
        <td align="center"><span style="color: #000000;">Festival Internacional "Ipiales Cuna de Grandes Trios"<br></span></td>
        <td align="center"><span style="color: #000000;">Ipiales</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">20 y 21<br></span></td>
        <td align="center"><span style="color: #000000;">Concurso Departamental de Danza Folclórica Colombiana</span></td>
        <td align="center"><span style="color: #000000;">Sandoná</span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #3e53c1;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;NOVIEMBRE</span></strong><span style="color: #ffffff; font-size: 10pt;"></span></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #3e53c1;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">Todo el Mes</span></td>
        <td align="center"><span style="color: #000000;">Encuentro de Música del Pacífico<br></span></td>
        <td align="center"><span style="color: #000000;">Olaya Herrera<br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">14 y 15<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta del Señor de los Milagros<br></span></td>
        <td align="center"><span style="color: #000000;">Puerres</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">30 a 2 de Diciembre<br></span></td>
        <td align="center"><span style="color: #000000;">Festival de Música y Danza San Luis Gonzaga</span></td>
        <td align="center"><span style="color: #000000;">Túquerres</span></td>
        </tr>
        </tbody>
        <thead>
        <tr style="height: 30px; background-color: #0d8e16;" align="center" valign="middle">
        <td colspan="3"><strong><span style="color: #ffffff; font-size: 10pt;">&nbsp;DICIEMBRE</span></strong><span style="color: #ffffff; font-size: 10pt;"></span></td>
        </tr>
        </thead>
        <thead>
        <tr style="height: 30px; background-color: #0d8e16;" align="center" valign="middle">
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Día </span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Evento<br></span></strong></td>
        <td><strong><span style="color: #ffffff; font-size: 10pt;">Municipio</span></strong></td>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">4 al 7<br></span></td>
        <td align="center"><span style="color: #000000;">Fiesta de la Virgen María y San Nicolás de Bari<br></span></td>
        <td align="center"><span style="color: #000000;">Cuaspud</span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">8</span></td>
        <td align="center"><span style="color: #000000;">Fiesta de la Purísima<br></span></td>
        <td align="center"><span style="color: #000000;">La Tola<br></span></td>
        </tr>
        <tr style="background-color: #e8e8e8;">
        <td align="center"><span style="color: #000000;">7 al 9<br></span></td>
        <td align="center"><span style="color: #000000;">Festival del Currulao</span></td>
        <td align="center"><span style="color: #000000;">Tumaco</span></td>
        </tr>
        </tbody>
        </table>
  
    <p><strong>Fuente: El Tiempo</strong></p></div></div>
</center>






{% for post in posts %}

<div class="py-3">

  <div class="card card-body bg-black">
    <div class="row">

      <div class="col-3">
        <img class="img-fluid" src="{{post.image.url}}" alt="{{post.title}}">

      </div>
      <div class="col-9">

        <h1>{{post.title}}</h1>
        <p>{{post.description|striptags|truncatechars:100}}</p>
        <p>{{post.date|date:'M d Y'|upper}}</p>

        <a href="{% url 'blog:post_detail' post.id %}">{{post.title}}</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}