{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
        </div>

    {% endif %}

    <center>
    <h1>FORMULARIO DE INSCRIPCIÓN</h1>
    </center>

<div class="container py-4">
  <div class="">
    <div class="card-body  border border-info p-5">

        <form action="{% url 'guardarPersona'%}" method="post">
            {% csrf_token %}
            {% if mensaje %}

                <div class="alert alert-success" role="alert">
                Persona registrada con exito!
                </div>
            {% endif %}
    
            {{form|crispy}}

            <br>

            <center>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </center>
        </form> 
      
    </div>
  </div>
</div>

{% endblock %}